apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: three-tier
  labels:
    role: frontend
spec:
  type: ClusterIP
  selector:
    role: frontend
  ports:
    - port: 80        # ALB will use this port
      targetPort: 3000  # container port of frontend
